.header{
    display: flex;
justify-content: space-between;
    width:1392px;
height:111.17px;
top: 24px;
left: 24px;
padding: 16.97px 20.89px 16.97px 52.22px;
gap: 0px;
border-radius: 65.28px 0px 0px 0px;
border: 1px 0px 0px 0px;

opacity: 0px;

}

.logo{
    width: 127.94px;
height: 47.39px;
padding: 7.86px 0.17px 9.03px 6.78px;
gap: 0px;
opacity: 0px;

}

.header_buttons{
    width: 428.61px;
    height: 77.22px;
    gap: 15.67px;
    opacity: 0px;
    
}
.button{
    width: 189.56px;
height: 77.22px;
padding: 26.11px 41.78px 26.11px 41.78px;
gap: 5.22px;
border-radius: 107.06px 0px 0px 0px;
border: 1.31px 0px 0px 0px;
opacity: 0px;

}